html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

canvas {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 2px solid white;
  color: white;
  margin-left: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .panels {
    flex-direction: column;
  }

  .controls {
    width: unset;
  }
}

.controls > .rule {
  border: 1px white solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.controls > .rule > h3 {
  margin-top: 0;
}

.panels {
  display: flex;
  background-color: black;
  flex-grow: 1;
}

h2 {
  margin: .5rem;
}

.header {
  background-color: #d2d2d2;;
  border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}

#main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
}